<h1>Listing</h1>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= @listing.description %>
  <%= @listing.price %>Eur
  <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>

</div>
