.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.humor-card {
  transition: background-color 0.5s;
  --b: 6px;     /* the border thickness*/
  --g: 3px;    /* the gap */
  --c: #DE3163; /* the color */
  padding: var(--g);
  cursor: pointer;
  transition: .3s;
}
.humor-card:hover {
  border: var(--b) solid var(--c);
  padding: 0;
}

.listings-card {
  transition: background-color 0.5s;
  --b: 3px;     /* the border thickness*/
  --g: 3px;    /* the gap */
  --c: #9db0df; /* the color */
  padding: var(--g);
  cursor: pointer;
  transition: .3s;
}
.listings-card:hover {
  border: var(--b) solid var(--c);
  padding: 0;
}
