<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <small> This footer was stolen with <i class="fas fa-heart"></i> from Le Wagon by MaxCapacity pirates. </small>
  </div>
</div>
