<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is stole with <i class="fas fa-heart"></i> from Le Wagon by MaxCapacity pirates.
  </div>
</div>
